<html>
{% load static  %}
<head>
		<title>KS | Key Solutions </title>

		<!-- Meta -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="author" content="Knormal">
        <meta name="description" content="We are the Key Solutions, a full-service design and consulting firm specializing in forensic architecture, quality assurance, and expert witness testimony.">
        <meta name="keywords" content="KS Key Solutions">
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

        <!-- Apple Touch Icons -->
        <link rel="apple-touch-icon-precomposed" href="{% static 'img/touch_icon.png' %}">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/touch_icon_72x72.png' %}">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/touch_icon_114x114.png' %}">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/touch_icon_144x144.png' %}">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/main3c40.css' %}">

		<!-- Typekit -->
		<script type="text/javascript" src="../use.typekit.com/ppi0tso.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<!-- Modernizr -->
        <script type="text/javascript" src="{% static 'js/lib/modernizr.js' %}"></script>
	</head>
<body class="relative">
<div id="loading"></div>
		<div id="keyboard_icons">
			<div id="up" class="key"></div>
			<div id="horizontal">
				<div id="left" class="active key"></div>
				<div id="down" class="active key"></div>
				<div id="right" class="active key"></div>
			</div>
		</div>
{% include 'navbar.html' %}
{% block body %}

{% endblock body %}
<script type="text/javascript" src="{% static 'js/main3c40.js' %}"></script>
		<!-- Google Scripts -->
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCdjSJlhutAnkdCZBI1_rhqkYVl1pHGD-4&amp;sensor=false"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-34111869-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
</body>


</html>